{% include 'General/Partes/Infousuario.html' %}

<ul class="nav nav-tabs nav-justified nav-sidebar">
	<li class="tooltips active" data-toggle="tooltip" title="Menu Principal"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Cerrar Sesión"><a href="{{NeuralRutaApp}}/LogOut"><i class="fa fa-sign-out"></i></a></li>
</ul>

<div class="tab-content">
	{% include 'General/Partes/Menu.html' %}
</div><!-- tab-content -->
