<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title" align="center">MENU PRINCIPAL</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Administrador"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkSupervisor"><a href="{{NeuralRutaApp}}/Administrador/Supervisor"><i class="fa fa-users"></i> <span>Supervisores</span></a></li>
        <li id="MenuLinkSensor"><a href="{{NeuralRutaApp}}/Administrador/Sensor"><i class="fa fa-wifi"></i><span>Sensores</span></a></li>
		<li id="MenuLinkHotel"><a href="{{NeuralRutaApp}}/Administrador/Hotel"><i class="fa fa-home"></i><span>Hoteles</span></a></li>
	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>