<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Sensor</h4>
        </div>
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#home">Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmAgregarSensor" name="frmAgregarSensor">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active col-md-12 row">
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                            <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre del Sensor" autocomplete="off">
                        </div>
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-google-wallet"></i></span>
                            <input type="text" id="Mac" name="Mac" class="form-control" placeholder="Mac del sensor" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <small>Piso</small>
                            <select id="Piso" name="Piso" class="form-control" style="width: 100%" data-placeholder="Seleccione un piso">
                                <option value="">&nbsp;</option>
                                {% for Dato in Piso %}
                                <option value="{{Dato.Piso|Cifrado}}">{{Dato.Piso}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group" id="SelectCuarto">
                            <small>Numero de Cuarto</small>
                            <select id="IdCuarto" name="IdCuarto" class="form-control" style="width: 100%" data-placeholder="Seleccione un cuarto" disabled>
                                <option value="">&nbsp;</option>
                            </select>
                        </div>
                        <div class="form-group" id="SelectCama">
                            <small>Cama</small>
                            <select id="IdCama" name="IdCama" class="form-control" style="width: 100%" data-placeholder="Seleccione cama" disabled>
                                <option value="">&nbsp;</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="Keys" name="Key" value="{{Key}}">

                    <div>
                        <p class="text-right">
                            <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                            &nbsp;
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>
    jQuery(document).ready(function (){
        $('#Piso').select2({ minimumResultsForSearch: Infinity });
        $('#IdCuarto').select2({ minimumResultsForSearch: Infinity });
        $('#IdCama').select2({ minimumResultsForSearch: Infinity });

        $('#Piso').on("change", function(e) {
            jQuery.ajax({
                url: '{{NeuralRutaApp}}/Administrador/Sensor/ObtenerNumeroCuartos',
                dataType: 'html',
                type: 'post',
                data: {Piso: $(this).val()},
                beforeSend: function () {
                    jQuery("#SelectCuarto").html('<div class="spinner-xs"></div>');
                },
                success: function (data) {
                    jQuery("#SelectCuarto").html(data);
                    $('#IdCuarto').select2({ minimumResultsForSearch: Infinity });
                }
            });
        });
    });
    jQuery('#frmAgregarSensor').on('submit', function(e){
        var isvalidate = jQuery('#frmAgregarSensor').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos de usuario e información.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Sensor/Agregar',
            data: jQuery('#frmAgregarSensor').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Nombre").val() == '' || jQuery("#Nombre").val() == null ){
            error = false;
        }

        if(jQuery("#Mac").val() == '' || jQuery("#Mac").val() == null ){
            error = false;
        }

        if(jQuery("#IdCama").val() == '' || jQuery("#IdCama").val() == null){
            error = false;
        }
        return error;
    }

</script>