    <small>Numero de Cuarto</small>
    <select id="IdCuarto" name="IdCuarto" class="form-control" style="width: 100%" data-placeholder="Seleccione un cuarto" >
        <option value="">&nbsp;</option>
        {% for NCuarto in Cuarto %}
        <option value="{{NCuarto.IdCuarto|Cifrado}}">{{NCuarto.Numero}}</option>
        {% endfor %}
    </select>
    <script>
        jQuery(document).ready(function (){
            $('#IdCuarto').select2({ minimumResultsForSearch: Infinity });
            $('#IdCuarto').on("change", function(e) {
                jQuery.ajax({
                    url: '{{NeuralRutaApp}}/Administrador/Sensor/ObtenerCamasCuarto',
                    dataType: 'html',
                    type: 'post',
                    data: {IdCuarto: $(this).val()},
                    beforeSend: function () {
                        jQuery("#SelectCama").html('<div class="spinner-xs"></div>');
                    },
                    success: function (data) {
                        jQuery("#SelectCama").html(data);
                        $('#IdCama').select2({ minimumResultsForSearch: Infinity });
                    }
                });
            });
        });


    </script>

