    <small>Cama</small>
    <select id="IdCama" name="IdCama" class="form-control" style="width: 100%" data-placeholder="Seleccione Cama" >
        <option value="">&nbsp;</option>
        {% for Ccama in Cama %}
        <option value="{{Ccama.IdCama|Cifrado}}">{{Ccama.Nombre}}</option>
        {% endfor %}
    </select>

