<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" href="{{NeuralRutaWebPublico}}/img/favicon_.ico">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> SENSORIUS </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{NeuralRutaWebPublico}}/imagenes/favicon_.ico">
	
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/Login.min.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/Estilos.css">
	

	<script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
	<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>

</head>

<body>
<div align="center" class="body" >
	<img src="{{NeuralRutaWebPublico}}/imagenes/logoSen.png">
	<div class="format">
	<div class="panel-heading">
<div class="panel signin">
		<h2 class="panel-title">Error de Acceso a Modulo</h2>
	</div>
	<div class="panel-body text-justify">
		<div class="section row p5 ph4">
				<p>El usuario con el que intentas acceder al sistema no se encuentra registrado y/o su
					contraseña es incorrecta, verifique sus datos y vuelva a intentarlo.</p>
				<br><br>
				<p><span class="label label-success">Información</span> &nbsp; Si tienes algún problema con el
					acceso favor de comunicarse con el administrador.</p>
		</div>
		<hr class="invisible">
	</div>
</div><!-- panel -->
	</div>
	<div class="form-group">
		<a href="{{NeuralRutaApp}}/Index/Login" class="btn-large btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">REINTENTAR</a>
	</div>
</div>
</body>

{{Scripts|raw}}
</html>
