<!DOCTYPE html>
<html >
<head>
 <meta charset="utf-8">
		<link rel="icon" href="{{NeuralRutaWebPublico}}/imagenes/favicon_.ico">
	<meta charset="utf-8">
  <title>SENSORIUS</title>

  <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/normalize.min.css">
  <script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
  <script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
  <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/Login.min.css">
  <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/Estilos.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <script src="{{NeuralRutaWebPublico}}/js/prefixfree.min.js"></script>
</head>
<body>
  <div class="login" align="center">
	<img src="{{NeuralRutaWebPublico}}/imagenes/logoSen.png">
    <form name="frm_Login" id="frm_Login" method="post" action="{{NeuralRutaApp}}/Index/Autenticacion">
    	<input type="text" name="Usuario" id="Usuario" placeholder="USUARIO..." required autocomplete="off"/>
        <input type="password" name="Password" id="Password" placeholder="CONTRASEÑA..." required autocomplete="off"/>
        <input type="hidden" value="{{Key}}" name="Key" id="Key">
        <button type="submit" class="btn btn-primary btn-block btn-large">INICIAR</button>
    </form>
</div>
</body>
{{Scripts|raw}}
</html>
