<div class="modal-header text-center">
    <h4 class="modal-title">Cuarto vacío</h4>
</div>
<div class="modal-body text-center" id="TablaCamas">
   <!-- <img src="{{NeuralRutaWebPublico}}/img/clock.jpg" style="width: 30%">-->
    <h1> Cuarto Sin Camas Asignadas...</h1>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>