<div class="modal-header text-center">
    <h4>Camas Disponibles</h4>
</div>
<div class="modal-body" id="TablaCamas">
    <div class="table-responsive">
        <table id="TablaCama" class="table table-bordered table-primary nomargin">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            {% for Dato in ConsultaCamas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{Dato.Nombre}}</td>
                <td>{{Dato.Status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <p class="text-center">
        <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
    </p>
</div>