{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-home mr5"></i> Principal</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% include 'Principal/Principal.html' %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Principal/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}