<div class="col-sm-12">
    <div class="panel" align="center">
        <!--<div class="panel-heading" align="center">-->
            <!--<h1>Working...</h1>-->
        <br>
           <!-- <img src="{{NeuralRutaWebPublico}}/imagenes/trabajando.png" width="700 " height="400">-->
        <img class="ImgPrincipal" src="{{NeuralRutaWebPublico}}/imagenes/trabajando.png">
        <!--</div>-->
        <div class="panel-body">
            <!--<div id="barchart" class="flot-chart"></div>-->
        </div>
    </div>
</div>