<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--switchCheck-->
<link href="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>
<!--SweetAlert -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.css">

<script src="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.min.js"></script>
<!--MasketInput-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-maskedinput/jquery.maskedinput.js" type="text/javascript"></script>


<script>
    ActivarLink('MenuLinkDemo');
    /* Listado */
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Demo/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function verActividades(Mac) {
            jQuery.ajax({
                url: '{{NeuralRutaApp}}/Supervisor/Demo/ListadoActividad',
                data: {Mac : Mac},
                type: 'POST',
                beforeSend: function () {
                    jQuery("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    jQuery("#AreaContenido").html(data);
                }
            });
    }

    function Demo(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Demo/Random',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    fnListado();
</script>
