<div class="header-right">
	<ul class="headermenu">
		<li>
			<div class="btn-group">
				<img src="{{NeuralRutaWebPublico}}/imagenes/mayan_logo.png" alt="" align="right" width="200"/>
				<!--<button type="button" class="btn btn-logged" data-toggle="dropdown">
					{{ Usuario != '' and Usuario != ' ' > 0 ? Usuario : 'Usuario'  }}

				</button> -->
			</div>
		</li>
	</ul>
</div><!-- header-right -->
