<div class="media leftpanel-profile">
	<div class="media-left">
		<a href="#">
			<img src="{{NeuralRutaWebPublico}}/imagenes/UsrAdmin.png" alt="" class="media-object img-circle"width="60" height="40">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
				{{ Usuario != '' and Usuario != ' ' > 0 ? Usuario : 'Usuario' }}
			<a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"></a></h4>
		<span>{{ TipoUsuario != '' and TipoUsuario != ' ' > 0 ? TipoUsuario: 'Software Engineer' }} </span>
	</div>
</div>