<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title" align="center">MENU PRINCIPAL</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Supervisor"><i class="fa fa-home"></i> <span>Principal</span></a></li>
        <li id="MenuLinkActividad"><a href="{{NeuralRutaApp}}/Supervisor/Actividad"><i class="fa fa-eye"></i><span>Actividad Sensores</span></a></li>
		<li id="MenuLinkReportes"><a href="{{NeuralRutaApp}}/Supervisor/Reporte"><i class="fa fa-bar-chart"></i><span>Reportes</span></a></li>
		<li id="MenuLinkDemo"><a href="{{NeuralRutaApp}}/Supervisor/Demo"><i class="fa fa-spinner"></i><span>Demo</span></a></li>
	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>