<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<footer class="text-center">
		<img src="{{NeuralRutaWebPublico}}/imagenes/logoSen.png" alt="" width="100" height="60" align="right"/>
		<!--<p>&copy 2017 SENSORIUS CONTROL SYSTEM</p>-->
	</footer>
</div>