/*
Name:Particles - Personal + Agency Template
Version:1.0
Author:Denis Samardjiev
*/

/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Margin + Padding
	=Typography
	=Buttons
	=Progress Bars
    =Alerts
    =Lists
    =Tabs
    =Panels
    =Thumbnails
    =Animate Examples
    =Accordion
	=Call to Action
	=Navigation
	=Jumbotron Main
    =Jumbotron Register
	=Hello Intro
	=Our Process
	=Carousel
	=Services
    =About
    =Profile
    =Count
	=Team
	=Work
	=Pricing
	=Timeline
	=Contact + Map
    =Footer
    =Media Queries
*/

/* =Common Styles
-------------------------------------------------------------- */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
#contact .form-control:focus,
#contact .form-control:hover,
#contact .form-control:active {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #8980fe;
}

.ticker {
    overflow: hidden;
    height: 70px;
    vertical-align: baseline;
}

.ticker h1 {
    margin: 0px;
    height: 70px;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
    transition: margin-top 0.5s ease-in-out;
}
.ticker .ticker-curso{
    margin: 0px;
    height: 70px;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
    transition: margin-top 0.5s ease-in-out;
    font-size: 30px;
    color: #f45555;
    font-family: "PT Sans", Arial, serif;
    cursor: pointer;
}

.big-logo {
    font-size: 70px;
}

.background1 { background-color: #212121; }
.background2 { background-color: #1d1d1d; }

/* =Margin + Padding
-------------------------------------------------------------- */
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt50 { padding-top:50px !important; }
.pt60 { padding-top:60px !important; }
.pt80 { padding-top:80px !important; }
.pt90 { padding-top:90px !important; }
.pt100 { padding-top:100px !important; }
.pb0 { padding-bottom:0px !important; }
.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }
.pb60 { padding-bottom:60px !important; }
.pb80 { padding-bottom:80px !important; }
.pb90 { padding-bottom:90px !important; }
.pb100 { padding-bottom:100px !important; }

.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top:40px !important; }
.mt50 { margin-top:50px !important; }
.mt60 { margin-top:60px !important; }
.mt80 { margin-top:80px !important; }
.mt90 { margin-top:90px !important; }
.mt100 { margin-top:100px !important; }
.mb0 { margin-bottom:0 !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }
.mb80 { margin-bottom:80px !important; }
.mb90 { margin-bottom:90px !important; }
.mb100 { margin-bottom:100px !important; }

.ml30 { margin-left: 30px }
.mr30 { margin-right: 30px }
.ml15 { margin-left: 15px }
.mr15 { margin-right: 15px }
.pl30 { padding-left: 30px }
.pr30 { padding-right: 30px }
.pl15 { padding-left: 15px }
.pr15 { padding-right: 15px }

.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
.no-margin-top { margin-top:0 !important; }
.no-padding-top { padding-top:0 !important; }
.no-margin-bottom { margin-bottom:0 !important; }
.no-padding-bottom { padding-bottom:0 !important; }

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-padding-top {
    padding-top: 80px;
}

.footer-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* =Animate Examples
-------------------------------------------------------------- */
.animate-example-box {
    width: 100%;
    height: 50px;
    border-radius: 45px
}

.animate-color-1 { background-color:#8980fe; }
.animate-color-2 { background-color:#3498db; }
.animate-color-3 { background-color:#2ecc71; }
.animate-color-4 { background-color:#f39c12; }
.animate-color-5 { background-color:#FF3B30; }
.animate-color-6 { background-color:#1abc9c; }
.animate-color-7 { background-color:#F2784B; }
.animate-color-8 { background-color:#65C6BB; }
.animate-color-9 { background-color:#F64747; }

/* =Jumbotron Main
-------------------------------------------------------------- */
.jumbotron.jumbotron-main {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin:0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background: #6819e8; /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}

.jumbotron.jumbotron-main hr {
    border-width: 1px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 49px;
    height: 4px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #fff;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.center-vertically-holder {
    display: table;
    height: 100%;
}

.scroll-indicator {
    padding-top:6px;
    display: inline-block;
    width: 50px;
}

.arrow-scroll-indicator {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}

/* =Jumbotron Register
-------------------------------------------------------------- */
.jumbotron.jumbotron-register {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin:0;
}

.jumbotron.jumbotron-register a {
    color: #fff;
}

.register-form {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 5px;
    border: 2px solid #eee;
}

.register-form h3 {
    color: #414141;
}

.jumbotron.jumbotron-register h1 {
    font-size:59px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media (max-width:767px) {
    .text-center-xs { text-align:center; }
    .mt10-xs { margin-top:10px; }
    .mt20-xs { margin-top:20px; }
    .mt30-xs { margin-top:30px; }
    .mt40-xs { margin-top:40px; }
    .mb10-xs { margin-bottom:10px; }
    .mb20-xs { margin-bottom:20px; }
    .mb30-xs { margin-bottom:30px; }
    .mb40-xs { margin-bottom:40px; }
    .section-padding { padding-top:50px; padding-bottom:50px; }
    .section-padding-top { padding-top:50px; }
    .navbar-default .navbar-nav > li > a { line-height:1; }
    .navbar-nav .open .dropdown-menu { padding:0; }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a { color:#fff; }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { color:rgba(255, 255, 255, 0.60); }
    .section-title h2 { font-size:34px; }
    .navbar-nav { margin:12px -15px; }
    #pricing .plan.featured { -webkit-transform:scale(1.03); -ms-transform:scale(1.03); transform:scale(1.03); }
    .btn-category { margin-bottom:5px; }
    .pricing-clients { width:90px; }
    #our-process .process-box { border-bottom:1px solid #2d2d2d; }
    .modal-header .close { margin-right:-62px; }
    .breadcrumb-holder { padding:12px 0 12px 0; }
    .ticker { height:60px; }
    .ticker h1{ height:60px; }
    .big-logo { font-size:50px; }
    .jumbotron.jumbotron-register { height:initial; }
    .jumbotron.jumbotron-register h1 { font-size:40px; }

    .ticker .ticker-curso{
        height: 60px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .timeline:before { left:50%; }
    .timeline > li { margin-bottom:100px; min-height:100px; }
    .timeline > li .timeline-panel { width:41%; float:left; padding:0 20px 20px 30px; text-align:right; }
    .timeline > li .timeline-image { width:100px; height:100px; left:50%; margin-left:-50px; }
    .timeline > li .timeline-image h4 { font-size:13px; margin-top:16px; line-height:18px; }
    .timeline > li.timeline-inverted > .timeline-panel { float:right; text-align:left; padding:0 30px 20px 20px; }
    .modal-dialog { margin:100px auto; }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left:0; }
    .dropdown .dropdown-menu{ display:block; opacity:0; -webkit-transition:all 200ms ease-in; -moz-transition:all 200ms ease-in; -ms-transition:all 200ms ease-in; -o-transition:all 200ms ease-in; transition:all 200ms ease-in; }
    .dropdown:hover .dropdown-menu { display:block; opacity:1; }
}

@media (min-width: 768px) and (max-width:992px) {
    #our-process h2 { font-size:28px; }
    #our-process .process-content p { width:75%; font-size:16px; }
    .text-center-sm { text-align:center; }
    .mt10-sm { margin-top:10px; }
    .mb10-sm { margin-bottom:10px; }
    .mt20-sm { margin-top:20px; }
    .mb20-sm { margin-bottom:20px; }
    .mt30-sm { margin-top:30px; }
    .mb30-sm { margin-bottom:30px; }
    .jumbotron.jumbotron-register h1 { font-size:45px; }
}

@media (min-width:992px) {
    .timeline > li { min-height:150px; }
    .timeline > li .timeline-panel { padding:0 20px 20px; }
    .timeline > li .timeline-image { width:150px; height:150px; margin-left:-75px; }
    .timeline > li .timeline-image h4 { font-size:18px; margin-top:30px; line-height:26px; }
    .timeline > li.timeline-inverted > .timeline-panel { padding:0 20px 20px; }
}

@media (min-width:1200px) {
    .timeline > li { min-height:170px; }
    .timeline > li .timeline-panel { padding:0 20px 20px 30px; }
    .timeline > li .timeline-image { width:170px; height:170px; margin-left:-85px; }
    .timeline > li .timeline-image h4 { margin-top:40px; }
    .timeline > li.timeline-inverted > .timeline-panel { padding:0 30px 20px 20px; }
}