<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-body">
            <div class="alert alert-danger fade in nomargin">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                <h4>Error!</h4>
                <p>La contraseñas proporcionadas no son iguales en los datos capturados.</p>
                <div class="mb15"></div>
                <p>
                    <button class="btn btn-primary" onclick="javascript: fnListado();" type="button"><i class="fa fa-check-square-o"></i> &nbsp; Aceptar</button>
                </p>
            </div>
        </div>
    </div>
</div>