
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
   /*   @import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px;
 margin-bottom: 0;
 font-size: 13px; 
 line-height: 18px; color: #333333; 
 text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
 vertical-align: middle; background-color: #f5f5f5; 
 background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
 background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); 
 background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
 background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
 background-image: linear-gradient(top, #ffffff, #e6e6e6); 
 background-repeat: repeat-x; 
 filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
 border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px;
  -moz-border-radius: 4px; 
 border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { 
	background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; 
	font-size: 15px; line-height: normal;
 -webkit-border-radius: 5px;
  -moz-border-radius: 5px; 
  border-radius: 12px; 
}
.btn:hover { color: #333333; text-decoration: none; 
	background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #c1d221; background-image: -moz-linear-gradient(top, #C1D222, #D3E24D); background-image: -ms-linear-gradient(top, #C1D222, #D3E24D); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C1D222), to(#D3E24D)); background-image: -webkit-linear-gradient(top, #C1D222, #D3E24D); background-image: -o-linear-gradient(top, #C1D222, #D3E24D); background-image: linear-gradient(top, #C1D222, #D3E24D); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#C1D222, endColorstr=#D3E24D, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #D3E24D; }
.btn-block { width: 50%; display:block; }


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {

	font-family: 'Open Sans', sans-serif;

	background: #1d1d1b; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle,#225e6a 5%, #225864 20%, #1d1d1b 75%); /* Safari */
	background: -o-radial-gradient(circle,#225e6a 5%, #225864 20%, #1d1d1b 75%); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle,#225e6a 5%, #225864 20%, #1d1d1b 75%); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle,#225e6a 5%, #225864 20%, #1d1d1b 75%); /* Standard syntax */

}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(38,85,105,165);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(38,85,105,165);
	border: 1px solid rgba(38,85,105,165);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;

    }
.format{
	width: 40%;
	margin-bottom: 5px;
	background:#FFFFFF;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 16px;
	color: #000000;
	border-radius: 8px;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(33,136,180,165), 0 1px 1px rgba(255,255,255,0.2); }

