<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--switchCheck-->
<link href="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>
<!--SweetAlert -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.css">

<script src="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.min.js"></script>
<!--MasketInput-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-maskedinput/jquery.maskedinput.js" type="text/javascript"></script>


<script>
    ActivarLink('MenuLinkHotel');
    /* Listado */
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    function frmAgregarHotel() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/frmAgregar',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    function VerCuartos(IdHotel) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/frmListadoCuartos',
            dataType: 'html',
            type: 'post',
            data: {IdHotel: IdHotel},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    /*funciones para los cuartos*/
    function frmAgregarCuarto(IdHotel) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/frmAgregarCuarto',
            dataType: 'html',
            type: 'post',
            data: {IdHotel: IdHotel},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function ConsultaCamas(IdCuarto) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/ConsultaCamas',
            dataType: 'html',
            type: 'post',
            data: {IdCuarto: IdCuarto},
            beforeSend: function () {
                jQuery("#ModalCuartos").html('<div class="spinner-xs"></div>');
            },
            success: function (data) {
                jQuery("#ModalCuartos").html(data);
                $('#CuartosModal').modal('show');
            }
        });
    }
    function fnEditarCuarto(IdCuarto, IdHotel) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/frmEditarCuarto',
            dataType: 'html',
            type: 'post',
            data: {IdCuarto: IdCuarto, IdHotel: IdHotel},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function fnEliminarCuarto(Id, IdHotel) {
            swal({
                title: "Eliminar Cuarto.",
                text: "!Se eliminará definitivamente el cuarto!.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, eliminar.",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '{{NeuralRutaApp}}/Administrador/Hotel/EliminarCuarto',
                    datatype: "html",
                    type: "post",
                    data: {IdCuarto: Id},
                    beforeSend: function () {
                        $("#AreaContenido").html('<div class="spinner"></div>');
                    },
                    success: function (data) {
                        VerCuartos(IdHotel);
                    }
                });
            });
        }

    fnListado();
</script>
