<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
    <div class="panel">
        <div class="panel-body">
            <div class="alert alert-success fade in nomargin">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                <center>
                    <h4>!Registro Completado¡</h4>
                    <p>Cuarto Editado Exitosamente.</p>
                    <div class="mb15"></div>
                    <p>
                        <button class="btn btn-primary" onclick="VerCuartos('{{IdHotel|Cifrado}}');" type="button"><i class="fa fa-check-square-o"></i> &nbsp; Aceptar</button>
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>