<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp;Editar Cuarto</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
            <li><a data-toggle="tab" href="#PanelCamas">Camas del Cuarto</a></li>
        </ul>
        <div class="panel-body">

            {% for Dato in Consulta %} <!--IMPORTANTE mismo nombre que esta en el controlador que pasa por parametro-->
            <form id="frmEditarCuarto" name="frmEditarCuarto">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="PanelInformacion">
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
                            <input type="text" id="Piso" name="Piso" class="form-control" placeholder="Numero de piso" autocomplete="off" value="{{Dato.Piso}}">
                        </div>
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                            <input type="text" id="Numero" name="Numero" class="form-control" placeholder="Numero de cuarto" autocomplete="off" value="{{Dato.Numero}}">
                        </div>

                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-support"></i></span>
                            <input type="text" id="Status" name="Status" class="form-control" placeholder="Estado" autocomplete="off" value="{{Dato.Status}}">
                        </div>
                        <input type="hidden" id="Key" name="Key" value="{{Key}}">
                        <input type="hidden" id="IdCuarto" name="IdCuarto" value="{{Dato.IdCuarto|Cifrado}}">
                        <input type="hidden" id="IdHotel" name="IdHotel" value="{{IdHotel|Cifrado}}">
                    </div>

                    <!--   Menu para agregar camas-->
                    <div id="PanelCamas" class="tab-pane fade col-md-12 row ">
                        <p class="text-right">
                            <button id="btnNuevaFila" type="button" class="btn btn-success btn-icon tooltips" title="Agregar Cama" ><i class="fa fa-plus"></i> </button>
                            <button id="btnEliminarFila" type="button" class="btn btn-danger btn-icon tooltips" title="Eliminar Cama"><i class="fa fa-close"></i> </button>
                        </p>
                        <div class="table-responsive">
                            <table id="TablaCamas" class="table table-bordered table-primary nomargin">
                                <thead>
                                <tr>
                                    <th>Tipo de Cama</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for DatoE in ConsultaCama %}
                                <tr>
                                    <td>
                                        <input id="Nombre" name="Nombre[]" type="text" class="form-control" placeholder="Tipo de Cama" autocomplete="off" value="{{DatoE.Nombre}}">
                                    </td>
                                    <td>
                                        <input id="Status2" name="Status2[]" type="text" class="form-control" placeholder="Estado" autocomplete="off" value="{{DatoE.Status}}">
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!--fin-->
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="javascript: VerCuartos('{{IdHotel|Cifrado}}');"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
                {% endfor %}
            </form>

        </div>
    </div>
</div>
{{Scripts|raw}}

<script>
    $(document).ready(function () {
        $('#btnNuevaFila').click(function () {
            agregarFila();
        });
        $('#btnEliminarFila').click(function () {
            eliminarFila();
        })
    });

    function agregarFila() {
        var cont=document.getElementById("TablaCamas").rows.length;
        cont++;
        var fila = '<tr class="selected" id="fila'+cont+'">' +
            '<td><input type="text" id="Nombre'+cont+'" name="Nombre[]" class="form-control"  placeholder="Tipo de Cama" autocomplete="off">' +
            '</td>' +
            '<td><input type="text" id="Status2'+cont+'"  name="Status2[]" class="form-control" placeholder="Estado" autocomplete="off"></td>'
            +'</tr>';
        $('#TablaCamas').append(fila);
    }

    function eliminarFila() {
        var tamaño = document.getElementById("TablaCamas").rows.length;
        if(tamaño>1) {
            document.getElementById("TablaCamas").deleteRow((tamaño - 1));
            cont2--;
        }
    }
    jQuery('#frmEditarCuarto').on('submit', function(e){
        var isvalidate = jQuery('#frmEditarCuarto').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/EditarCuarto',
            data: jQuery('#frmEditarCuarto').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Piso").val() == ''){
            error = false;
        }
        if(jQuery("#Numero").val() == ''){
            error = false;
        }
        if(jQuery("#Status").val() == ''){
            error = false;
        }
        return error;
    }

</script>