<div class="col-sm-12">

</div>

<div class="col-sm-12">
	<div class="panel" align="center">
		<!--<div class="panel-heading" align="center">-->
		<!--<h1>Working...</h1>-->
		<br>
		<img class="ImgPrincipal" src="{{NeuralRutaWebPublico}}/imagenes/trabajando.png">
		<!--</div>-->
		<div class="panel-body">
			<!--<div id="barchart" class="flot-chart"></div>-->
		</div>
	</div>
</div>