<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Hotel</h4>
        </div>
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#home">Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmAgregarHotel" name="frmAgregarHotel">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active col-md-12 row">
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                            <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre del Hotel" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <small>Dirección</small>
                            <textarea id="Direccion" name="Direccion" class="form-control" rows="3" placeholder="Dirección"></textarea>
                        </div>

                        <div class="panel">
                            <div class="dropzone" id="dropz">
                                <div class="fallback">
                                    <input name="Imagen" type="Imagen"/>
                                </div>
                            </div>
                        </div>

                      </div>
                    <input type="hidden" id="Keys" name="Key" value="{{Key}}">

                    <div>
                        <p class="text-right">
                            <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                            &nbsp;
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>
    Dropzone.options.dropz= {
        dictDefaultMessage: "Arrastra tu logo aquí para subirlo",
        addRemoveLinks: true,
        paramName: "Imagen",
        maxFilesize: 3, // MB, maximo de archivos
        maxThumbnailFilesize: 3,// MB,  Cuando el peso del archivo excede este límite, no se generará la imagen en miniatura
        maxFiles: 1,
        acceptedFiles: ".jpeg,.jpg,.png,.JPEG,.JPG,.PNG",// Archivos permitidos
        accept: function(file, done) {
            console.log("uploaded");
            done();
        },
        init: function() {
            this.on("maxfilesexceeded", function(file){
                alert("Limite de imagenes permitidas alcanzado");
            });


        },
        success: function (data1, data ) {
        console.log(data);
        var data = JSON.parse(data);
        console.log(data);
        $('<input>').attr({
            type: 'hidden',
            value: data.RutaCifrada,
            id: 'RutaWebImagen',
            name: 'RutaWebImagen' }).appendTo('#frmAgregarHotel');
    },
        dictCancelUpload: true,
        dictCancelUploadConfirmation: true,
        dictRemoveFile: 'Eliminar.',
        dictMaxFilesExceeded: 'Limite alcanzado',
        dictFallbackMessage: 'Tu navegador no soporta la funcion drag drop file uploads',
        dictInvalidFileType: 'Archivo Invalido',
        url: '{{NeuralRutaApp}}/Administrador/Hotel/SubirImagen',
    };

    $(document).ready(function () {
        $(".dropzone").dropzone();

    });

    jQuery('#frmAgregarHotel').on('submit', function(e){
        var isvalidate = jQuery('#frmAgregarHotel').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos de usuario e información.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Hotel/Agregar',
            data: jQuery('#frmAgregarHotel').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Nombre").val() == '' || jQuery("#Nombre").val() == null ){
            error = false;
        }

        if(jQuery("#Direccion").val() == '' || jQuery("#Direccion").val() == null ){
            error = false;
        }
        return error;
    }

</script>