
<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Reportes de Monitoreo</h4>
        </div>
        <div class="panel-body" align="center">
            <div class="btn-group">
                <button type="button" class="btn btn-warning" >REPORTES</button>

                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                &nbsp; &nbsp; &nbsp;

               <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker2">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                -->
                <ul class="dropdown-menu">
                    <li><a target="_blank" href='{{NeuralRutaApp}}/Supervisor/Reporte/R_Diario'>Diario</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Por fechas</a></li>
                </ul>

            </div>
            <button type="button" class="btn btn-warning" >GENERAR</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<script>
    $(function() {
$('#datepicker').datepicker();
$('#datepicker-inline').datepicker();
$('#datepicker-multiple').datepicker({ numberOfMonths: 2 });
        $('#datepicker2').datepicker();
        $('#datepicker2-inline').datepicker();
        $('#datepicker2-multiple').datepicker({ numberOfMonths: 2 });
});
</script>