<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- favicon-->
    <link rel="icon" href="{{NeuralRutaWebPublico}}/imagenes/favicon_.ico">
    <meta charset="utf-8">
    <title>SENSORIUS</title>

    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/Hover/hover.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles-full.css">
    <!--jquery jquery-ui-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.css">
    <!--timepicker-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/timepicker/jquery.timepicker.css">
    <!--select2 CSS-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/select2/select2.css">
    <!--jquery.gritter CSS-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.css">

    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">
    <!--SweetAlert -->
    <link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.css">
    <style>
        #PanelPrincipal{
            margin: auto;
            padding: 0px;
            max-width: 960px
        }
        .bg-img{
            width: 100%;
            height: auto;
        }
        label.error {
            font-size: 11px;
            display: table-caption;
            caption-side:bottom;
        }

        .spinner {
            width: 40px;
            height: 40px;
            margin: 100px auto;
            background-color: #333;

            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
            animation: sk-scaleout 1.5s infinite ease-in-out;
        }

        .spinner-xs {
            width: 40px;
            height: 40px;
            margin: 25px auto;
            background-color: #333;

            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
            animation: sk-scaleout 1.5s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% { -webkit-transform: scale(0) }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 100% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
                  opacity: 0;
              }
        }
    </style>
    <script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{NeuralRutaWebPublico}}/lib/html5shiv/html5shiv.js"></script>
    <script src="{{NeuralRutaWebPublico}}/lib/respond/respond.src.js"></script>
    <![endif]-->
</head>
<body onLoad="setInterval('Demo()',60000);">
<header>
    <div class="headerpanel">
        <div class="logopanel">
            <img src="{{NeuralRutaWebPublico}}/imagenes/LogoSenH.png" alt="" width="200" height="40"/>
            <!--<h2><a href="{{NeuralRutaApp}}">SENSORIUS</a></h2>-->
        </div><!-- logopanel -->

        <div class="headerbar">
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            <div class="searchpanel">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por..">
                    <span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					</span>
                </div><!-- input-group -->
            </div>
            {% include 'General/Partes/BarraSuperior.html' %}
        </div><!-- headerbar -->
    </div><!-- header-->
</header>

<section>
    <div class="leftpanel">
        <div class="leftpanelinner">
            {% include 'General/Partes/BarraLateral.html' %}
        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->
    <div class="mainpanel">
        <div class="contentpanel">
            <section id="PanelPrincipal">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ol class="breadcrumb breadcrumb-quirk">
                            {% block Titulo %}
                            <li><a href="index-2.html"><i class="fa fa-home mr5"></i> Default Title</a></li>
                            <li><a href="buttons.html">Pages</a></li>
                            <li class="active">Blank</li>
                            {% endblock Titulo %}
                        </ol><!--breadcrumb section start-->
                    </div>
                    <div id="AreaContenido">
                        {% block Contenido %}
                        <p>Contenido Vacio</p>
                        {% endblock Contenido %}
                    </div><!--AreaContenido section start-->
                    <!--footer section start-->
                    {% include 'General/Partes/Pie.html' %}
                    <!--footer section end-->
                </div><!-- row -->
            </section>
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>

<!--SweetAlert -->
<script src="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.min.js"></script>

<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap/js/bootstrap.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/timepicker/jquery.timepicker.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/quirk.js"></script>
<!--Scripts de la aplicacion-->
{% block ScriptsAplicacion %}
{% endblock ScriptsAplicacion %}
</body>
</html>
