{% extends "General/BaseDemo.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-spinner mr5"></i> {{Menu}}</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Demo/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}