<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-cog"></span> &nbsp; Acciones sobre los registros</h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary btn-quirk" onclick="javascript: frmAgregarCuarto('{{IdHotel|Cifrado}}')"><i class="fa fa-plus"></i> &nbsp; Agregar Cuarto</button>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Cuartos</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable1" class="table table-bordered table-striped-col">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Piso</th>
                        <th>Cuarto</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>#</th>

                        <th>Piso</th>
                        <th>Cuarto</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for Dato in Consulta %}
                    <tr>
                        <td>{{loop.index}}</td> <!--Para crear los índices consecutivos o contador de registros-->
                        <td>{{Dato.Piso}}</td>
                        <td>{{Dato.Numero}}</td>
                        <td>{{Dato.Status}}</td>

                        <td class="text-center">
                            <a data-toggle="tooltip" title="Ver Camas" class="btn btn-default btn-xs tooltips" href='javascript: ConsultaCamas("{{Dato.IdCuarto|Cifrado}}");'>
                                <i class="fa fa-list-alt"></i>
                            </a>
                            <a data-toggle="tooltip" title="Editar Información" class="btn btn-default btn-xs tooltips" href='javascript: fnEditarCuarto("{{Dato.IdCuarto|Cifrado}}", "{{IdHotel|Cifrado}}");'>
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a data-toggle="tooltip" title="Eliminar" class="btn btn-default btn-xs tooltips" href='javascript: fnEliminarCuarto("{{Dato.IdCuarto|Cifrado}}", "{{IdHotel|Cifrado}}");'>
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#dataTable1').DataTable({
        "columnDefs": [{
            "orderable": false,
            "targets": '_all'}],
        language: 	{
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 10,
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "Todos"]
        ]
    });
</script>
<!-- Modal -->
<div class="modal fade" id="CuartosModal" tabindex="-1" role="dialog" aria-labelledby="CuartosModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="ModalCuartos">
            <div class="modal-header" align="center">
                <h4><h4>Camas Disponibles</h4></h4>
            </div>
            <div class="modal-body" id="TablaCamas">
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    <button type="button" class="btn btn-success btn-quirk" data-dismiss="modal">CERRAR</button>
                </p>
            </div>
        </div>
    </div>
</div>
