<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Supervisor</h4>
        </div>
        <ul class="nav nav-tabs nav-line">
            <li class="active"><a data-toggle="tab" href="#home">Usuario</a></li>
            <li><a data-toggle="tab" href="#menu1" >Información</a></li>
        </ul>
        <div class="panel-body">
            <form id="frmAgregarSupervisor" name="frmAgregarSupervisor">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active col-md-12 row">
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" autocomplete="off">
                        </div>
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="off">
                        </div>
                        <div class="form-group input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" id="RepitePassword" name="RepitePassword" class="form-control" placeholder="Comprobar Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <small>Hotel</small>
                            <select id="IdHotel" name="IdHotel" class="form-control" style="width: 100%" data-placeholder="Seleccione un Hotel">
                                <option value="">&nbsp;</option>
                                {% for Dato in Hotel %}
                                <option value="{{Dato.IdHotel|Cifrado}}">{{Dato.Nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!--inicia-->
                    <div id="menu1" class="tab-pane fade col-md-12 row" >
                        <div class="form-group">

                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" autocomplete="off">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                        <input type="text" id="Ap_Paterno" name="Ap_Paterno" class="form-control" placeholder="Apellido Paterno" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa  fa-link"></i></span>
                                        <input type="text" id="Ap_Materno" name="Ap_Materno" class="form-control" placeholder="Apellido Materno" autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb20">
                                <span class="input-group-addon"><i class="fa  fa-envelope-o"></i></span>
                                <input type="text" id="Email" name="Email" class="form-control" placeholder="E-mail" autocomplete="off">
                            </div>


                        </div>
                    </div>
                    <input type="hidden" id="Keys" name="Key" value="{{Key}}">

                    <hr class="short alt" />

                    <div class="section row col-md-12">
                        <div class="col-md-6">
                            <label class="ckbox ckbox-info">
                                <input type="checkbox" id="Status" name="Status" checked value="ACTIVO"><span>USUARIO ACTIVO</span>
                            </label>
                        </div>
                    </div>

                    <div>
                        <p class="text-right">
                            <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>
                            &nbsp;
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>

    jQuery(document).ready(function (){
        $('#IdHotel').select2({ minimumResultsForSearch: Infinity });

    });
    jQuery('#frmAgregarSupervisor').on('submit', function(e){
        var isvalidate = jQuery('#frmAgregarSupervisor').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos de usuario e información.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisor/Agregar',
            data: jQuery('#frmAgregarSupervisor').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Usuario").val() == '' || jQuery("#Usuario").val() == null ){
            error = false;
        }
        if(jQuery("#Password").val() == '' || jQuery("#Password").val() ==null){
            error = false;
        }
        if(jQuery("#RepitePassword").val() == '' || jQuery("#RepitePassword").val() ==null){
            error = false;
        }
        if(jQuery("#IdHotel").val() == '' || jQuery("#IdHotel").val() ==null){
            error = false;
        }
        if(jQuery("#Nombres").val() == '' || jQuery("#Nombres").val() ==null){
            error = false;
        }
        if(jQuery("#Ap_Paterno").val() == '' || jQuery("#Ap_Paterno").val() ==null){
            error = false;
        }
        if(jQuery("#Ap_Materno").val() == '' || jQuery("#Ap_Materno").val() ==null){
            error = false;
        }
        if(jQuery("#Email").val() == '' || jQuery("#Email").val() ==null){
            error = false;
        }
        return error;
    }

</script>