<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- favicon-->
    <link rel="icon" href="{{NeuralRutaWebPublico}}/imagenes/favicon_.ico">
    </head>
<body>
<header class="clearfix">
    <div id="logo"  align="left">
        <img src="{{NeuralRutaWebPublico}}/imagenes/logoCompleto.png" width="150" heigth="200">
        <!--<h4>REPORTE</h4>-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <img src="{{NeuralRutaWebPublico}}/imagenes/mayan_logo.png" width="240" heigth="240">
    </div>

    <h1>.::DEMO REPORTE DE ACTIVIDAD::.</h1>
    <div id="company" class="clearfix">
        <div>Sensorius Control System &#174;</div>
        <div>110 CHILPANCINGO,<br />GRO 60273, MEX</div>
        <div>(602) 519-0450</div>
        <div><i>Administracion@Sensorius.com.mx</i></div>
    </div>
    <div id="project">
        <div><span>HOTEL</span> MAYAN PALACE &#174;</div>
        <div><span>CLIENTE</span> JUAN PEREZ</div>
        <div><span>DIRECCI&Oacute;N</span> 796 ACAPULCO,GRO 79273, MEX</div>
        <div><span>CORREO</span> <i>Administracion@MayanPalace.com</i></div>
        <div><span>FECHA</span> 26 Febrero 2017</div>
        <!--<div><span>DUE DATE</span> September 17, 2015</div>-->
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>PISO</th>
            <th>No CUARTO</th>
            <th>TIPO DE CAMA</th>
            <th>MAC SENSOR</th>
            <th>ESTADO</th>
        </tr>
        </thead>
        <tbody><tr>
            <th>1</th>
            <td>Piso 1</td>
            <td>101</td>
            <td>Cama Sencilla</td>
            <td>0D:02:0B:04:0A:06</td>
            <td>OCUPADO</td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    &#169; 2017 Sensorius Control System. Todos los derechos reservados
</footer>
</body>