<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>HolaMundo</h1>
<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Reportes de Monitoreo</h4>
        </div>
        <div class="panel-body" align="center">
            <div class="btn-group">
                <button type="button" class="btn" >REPORTES</button>

                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                &nbsp; &nbsp; &nbsp;

                <ul class="dropdown-menu">
                    <li><a target="_blank" href='{{NeuralRutaApp}}/Supervisor/Reporte/R_Diario'>Diario</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Por fechas</a></li>
                </ul>

            </div>
            <button type="button" class="btn btn-warning" >GENERAR</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
</body>
</html>