<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--switchCheck-->
<link href="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>
<!--SweetAlert -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.css">

<script src="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.min.js"></script>
<!--MasketInput-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-maskedinput/jquery.maskedinput.js" type="text/javascript"></script>


<script>
    ActivarLink('MenuLinkSupervisor');
    /* Listado */
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisor/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    function frmAgregarSupervisor() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisor/frmAgregar',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function fnEliminarSupervisor(IdUsuario){
        swal({
            title: "Eliminar Supervisor.",
            text: "!Se eliminará definitivamente al Supervisor!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Administrador/Supervisor/Eliminar',
                datatype: "html",
                type: "post",
                data: {IdUsuario: IdUsuario},
                beforeSend: function () {
                    $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    fnListado();
                }
            });
        });

    }
    function fnEditarSupervisor(Id) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisor/frmEditarSupervisor',
            dataType: 'html',
            type: 'post',
            data: {IdUsuario: Id},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    fnListado();
</script>
